<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Covid Vaccines
        </title>
        <link rel="stylesheet" href="../css/home.css">
    </head>
    <body>
        <header>
            <nav>
                <ul class="main-nav inline">
                    <h1 class="TituloPag">Vaccination</h1>
                    <div class="head-wrap">
                        
                        <a href="#" class="db gridrow1 link-nav tel boldi">Database</a>
                        <div class="derecha blueBG"></div>
                        <a href="#" class="edu gridrow1 link-nav tel boldi">Education</a>
                        <a href="#" class="news gridrow1 link-nav tel boldi">News</a>
                        <a href="#" class="reg gridrow1 link-nav tel boldi">Regulation</a>
                        <div class="hb l5">
                            <a href="#" class="link-nav boldi"><p class="Hoax">Hoax Buster</p></a>
                        </div>
                        
                    </div>
                </ul>
            </nav>
        </header>
        <section class="wrapper">
            <div class="one">
                <h1 class="main-title">Fight Virus With Vaccines</h1>
                <h3 class="description">Let's stop this pandemic by killing the virus</h3>
                <h3 class="description">with a vaccine, don't let yourself and your</h3>
                <h3 class="description">family get infected</h3>
            </div>

            <div class="one-five">
                <img src="../assets/img/iconShieldCheck.png" alt="iconCheck" class="icon">
                <p class="features">Best protection</p>
                <img src="../assets/img/iconStar.png" alt="iconStar" class="icon2">
                <p class="features">Selected Vaccines</p>
            </div>

            <div class="two">
                <img class="doc" src="../assets/img/doc.png" alt="DOCTOR">
            </div>
        
            <div class="three">
                <div class="inline">
                    <img src="../assets/img/iconClock.png" alt="iconClock" class="icon">
                    <h2 class="features">Schedule your vaccinations</h2>
                </div>
            </div>

            <div class="four">
                <div class="box icon">
                    <ul class="inline">
                        <img class="iconBox" src="../assets/img/iconGPS.png" alt="iconGPS">
                        <li class="center info">Location</li>
                        <img class="iconBox padleft" src="../assets/img/iconCalendar.png" alt="iconCalendar">
                        <li class="center info">Date</li>
                        <img class="iconBox padleft" src="../assets/img/iconPencil.png" alt="iconPencil">
                        <li class="center info">Vaccine Type</li>
                        <div class="boton">
                            <a href="#" class="link-nav"><p class="Letras">Submit</p></a>
                        </div>
                    </ul>
                    <ul class="inline">
                        <li class="sndline">Jakarta Utara</li>
                        <li class="sndline padleft2">08 July 2021</li>
                        <li class="sndline padleft3">Moderna</li>
                    </ul>
                    
                </div>
            </div>
        </section>
        

        <section class="logos">
            <img class="logo-size padTop" src="../assets/img/aztraseneca.jpg" alt="AstraZeneca">
            <img class="logo-size padTop" src="../assets/img/sinovac.png" alt="SINOVAC">
            <img class="logo-size padTop" src="../assets/img/Pfizer.png" alt="Pfizer">
            <img class="logo-size padTop2" src="../assets/img/moderna.jpg" alt="moderna">
        </section>
        <section class="wrapper2">
            <div class="one2">
                <h1 class="sub-title">Why should I vaccine?</h1>
                <h3 class="description2">In order to avoid any doubts about getting the COVID-19 </h3>
                <h3 class="description2">vaccine, identify the following 4 benefits of COVID-19</h3>
                <h3 class="description2">vaccination:</h3>
            </div>
            <div class="first">
                <img class="padleft20" src="../assets/img/iconDot.png" alt="iconDot">
                <h2 class="features">
                    Minimize the spread of viruses
                </h2>
                <p class="padleft20">
                    Vaccine has been proven effective to prevent
                    someone from getting infected with Coronavirus
                </p>
            </div>
            <div class="second">
                <img class="padleft20" src="../assets/img/iconShieldCheckB.png" alt="iconShieldCheck">
                <h2 class="features">
                    Forming antibodies
                </h2>
                <p class="padleft20">
                    COVID-19 vaccine proven to help shape antibody
                    response for immune system
                </p>
            </div>
            <div class="third">
                <img class="padleft20" src="../assets/img/iconPerson.png" alt="iconPeople">
                <h2 class="features">
                    Protecting people nearby
                </h2>
                <p class="padleft20">
                    The benefits of COVID-19 vaccination are the 
                    vaccine that we get can also help protect people
                    around us
                </p>
            </div>
            <div class="fourth">
                <img class="padleft20" src="../assets/img/iconGraph.png" alt="iconGraph">
                <h2 class="features">
                    Creating group immunity
                </h2>
                <p class="padleft20">
                    COVID-19 vaccination is also beneficial for 
                    creating group immunity or herd immunity
                </p>
            </div>
        </section>

        <section class="wrapper3">
            <div class="uno">
                <img src="../assets/img/personaCubrebocas.png" alt="Persona con cubrebocas">
            </div>
            <div class="dos">
                <h1 class="sub2-title">Preparations Before Vaccine</h1>
            </div>
            <div class="tres">
                <h2 class="description3">the success of vaccines is strongly influenced by the</h2>
                <h2 class="description3">strength of the body's immune system. Therefore, there are</h2>
                <h2 class="description3">several things that can be tried to make the COVID-19</h2>
                <h2 class="description3">vaccine work:</h2>
            </div>
            <div class="cuatro inline">
                <img class="iconBox2" src="../assets/img/iconShieldCross.png" alt="iconShieldCross">
                <h3 class="features">Avoid alcoholic beverages</h3>
                <img class="iconArrow2 iconArrowSize" src="../assets/img/iconArrowDown.png" alt="iconArrowDown">
            </div>
            <div class="cinco inline">
                <img class="iconBox2" src="../assets/img/iconSquareCross.png" alt="iconSquareXross">
                <h3 class="features">Avoid stress</h3>
                <img class="iconArrow iconArrowSize" src="../assets/img/iconArrowUp.png" alt="iconArrowUP">
                <p class="description4">Stress has a profound effect on immune work.</p>
                <p class="description4">Moreover, prolonged stress can increase cortisol</p>
                <p class="description4">production and oxidative stress in the body.</p>
            </div>
            <div class="seis inline">
                <img class="iconBox2" src="../assets/img/iconBars.png" alt="iconGraphBars">
                <h3 class="features">Eat healthy food</h3>
                <img class="iconArrow3 iconArrowSize" src="../assets/img/iconArrowDown.png" alt="iconArrowDown">
            </div>
            <div class="siete inline">
                <img class="iconBox2" src="../assets/img/iconSquareCheck.png" alt="iconSquareCheck">
                <h3 class="features">Get enough sleep</h3>
                <img class="iconArrow4 iconArrowSize" src="../assets/img/iconArrowDown.png" alt="iconArrowDown">
            </div>
            <div class="ocho inline">
                <img class="iconBox2" src="../assets/img/iconheart.png" alt="iconHeart">
                <h3 class="features">Excercise or physical activity</h3>
                <img class="iconArrow5 iconArrowSize" src="../assets/img/iconArrowDown.png" alt="iconArrowDown">
            </div>
        </section>
        <section class="wrapper">
            <div class="one">
                <h1 class="sub-title">Emergency Contact</h1>
            </div>
            <div class="eme-desc">
                <h3 class="description5">Contact one of the contacts below if you or your family feel</h3>
                <h3 class="description5">unwell and have similar symptoms such as COVID-19, make</h3>
                <h3 class="description5">sure you also take care of yourself before reporting to us:</h3>
            </div>
            <div class="emergency">
                <img class="doc" src="../assets/img/docphone.png" alt="Doctor">
            </div>
            
            <div class="emergency1 margleft140">
                
                <div class="inline">
                    <img class="padleft20 padTop50 iconBox" src="../assets/img/iconPhone.png" alt="IconPhone">
                    <h2 class="contacto padTop50">Call <p class="tel">021.123.145.14</p></h2>
                </div>
                   
                <button title="Call Now" class="botonContacto">
                    Call Now
                </button>
                  
                  
            </div>
            <div class="emergency2">
                <div class="inline">
                    <img class="padleft20 padTop50 iconBox" src="../assets/img/iconChat.png" alt="iconChat">
                    <h2 class="contacto padTop50">Chat <p class="tel">021.123.145.14</p></h2>
                </div>
                   
                <button title="Chat Now" class="botonContacto2">
                    Chat Now
                </button>
            </div>
            <div class="emergency3 margleft140">
                <div class="inline">
                    <img class="padleft20 padTop50 iconBox" src="../assets/img/iconVideoCall.png" alt="iconVideoCall">
                    <h2 class="contacto padTop50">Video Call <p class="tel">021.123.145.14</p></h2>
                </div>
                   
                <button title="Video Call Now" class="botonContacto">
                    Video Call Now
                </button>
            </div>
            <div class="emergency4">
                <div class="inline">
                    <img class="padleft20 padTop50 iconBox" src="../assets/img/iconMail.png" alt="IconMail">
                    <h2 class="contacto padTop50">Message <p class="tel">021.123.145.14</p></h2>
                </div>
                   
                <button title="Message Now" class="botonContacto">
                    Message Now
                </button>
            </div>
            
        </section>
        <footer class="foot">
            <div class="grid11 margleft140">
                <h2 class="footitle">Vaccination</h2>
                <p class="tel margBot20">Our goal is to help the</p>
                <p class="tel margBot20">world free from the</p>
                <p class="tel">ongoing pandemic</p>
            </div>
            
            <ul class="grid31 margLeft239">
                <li class="footSec">About</li>
                <li class="tel margBot20">About US</li>
                <li class="tel margBot20">Features</li>
                <li class="tel">News & Blog</li>
            </ul>
            <ul class="grid41 margleft110">
                <li class="footSec">Company</li>
                <li class="tel margBot20">How we work?</li>
                <li class="tel margBot20">Capital</li>
                <li class="tel">Security</li>
            </ul>
            <ul class="grid51">
                <li class="footSec">Support</li>
                <li class="tel margBot20">FAQs</li>
                <li class="tel margBot20">Support Center</li>
                <li class="tel">Contact Us</li>
            </ul>
            
            <div class="grid12 margleft140 margTop100">
                <p class="tel">
                    @2021 Vaccination. All rights reserved
                </p>
            </div>
            <div class="grid42 margTop100">
                <p class="tel margleft180">
                    Terms & Agreements
                </p>
            </div>
            <div class="grid52 margTop100">
                <p class="tel">
                    Privacy Policy
                </p>
            </div>
        </footer>
    </body>
</html>